<!DOCTYPE html>
<html><head>
  <title>하루 하나 알고리즘 챌린지</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/wave.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <div class="header">
      <div>
        <span>하루 하나 알고리즘 챌린지</span>
        <h1>ANABADA</h1>
      </div>
    </div>
    <div class="content">
      <section class="role">
        <h2>📢 규칙</h2>
        <ol>
          <li>
            한 달 동안 푼 문제 수를 가중치로 하여 추첨합니다.<br>
            푼 문제 수가 많을수록 추첨 내역에서 상단에 위치할 확률이 높습니다.
          </li>
          <li>
            문제 풀이 및 추첨 내역은 5분마다 갱신됩니다.<br>
            추첨 과정은 일정한 규칙에 따라 시드가 결정되기 때문에 새로 문제를 해결한 사람이
            없다면 추첨 결과는 언제나 같습니다.
          </li>
          <li>
            공지된 이벤트 기간 내에 푼 문제들은 하루 하나와 관계없이 푼 문제수에 가산합니다.
          </li>
        </ol>
      </section>

      <section class="rank">
        <h2>💻 문제 풀이 순위</h2>
        <ol id="commitCounts">
          {% for name, score in ranks %}
          <li>{{name}}: {{score}} 문제</li>
          {% endfor %}
        </ol>
      </section>

      <section class="loto-result">
        <h2>👑 이번 달 추첨 내역</h2>
        <ol id="commitCountsShuffled">
          {% for name, score in lotto %}
          <li>{{name}}: {{score}} 문제</li>
          {% endfor %}
        </ol>
      </section>

      <section class="recent">
        <h2>🔥 최근 문제 풀이</h2>
        <ul id="recentSolved">
          {% for name, time in logs %}
          <li>{{name}}: {{time.strftime("%Y. %m. %d. %p %I:%M:%S").replace("AM", "오전").replace("PM", "오후")}}</li>
          {% endfor %}
        </ul>
      </section>

      <section class="events">
        <h2>🎉 이벤트</h2>
        <ul>
          {% for id, description, start_time, end_time, problem_id in events %}
          {% if start_time <= now <= end_time %}
            <li class="ongoing">{{description}}: {{start_time.strftime("%Y. %m. %d. %p %I:%M:%S").replace("AM", "오전").replace("PM", "오후")}}</li>
          {% elif now < start_time %}
            <li class="upcoming">{{description}}: {{start_time.strftime("%Y. %m. %d. %p %I:%M:%S").replace("AM", "오전").replace("PM", "오후")}}</li>
          {% else %}
            <li class="ended">{{description}}: {{start_time.strftime("%Y. %m. %d. %p %I:%M:%S").replace("AM", "오전").replace("PM", "오후")}}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>

  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="
          background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
        "></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="
          background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
        "></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="
          background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
        "></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>


</body></html>